@model IEnumerable<SmartSpaceWeb.Models.Sensor>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdDevice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Timestamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Counter)
        </th>
        <th>
            Alarm
        </th>
    </tr>
    @*
    @{
        List<long> time = new List<long>();
        List<String> type = new List<string>();
    }
    @foreach (var item in Model)
    {
        if (type.Contains(item.Type))
        {
            if (time[type.IndexOf(item.Type)] < Convert.ToInt64(item.Timestamp))
            { time[type.IndexOf(item.Type)] = Convert.ToInt64(item.Timestamp); }
        }
        else
        {
            type.Add(item.Type);
            time.Add(Convert.ToInt64(item.Timestamp));
        }
    }*@
    @foreach (var item in Model)
    {
        //if (time[type.IndexOf(item.Type)] == Convert.ToInt64(item.Timestamp))
        {
            <tr>
                <td>
                    @{switch (item.Type)
                        {
                            case "temperature":
                                <img src="~/Images/temperature.png" alt="temperature" style="width:50px;height:50px;" />
                                break;
                            case "pir":
                                <img src="~/Images/pir.jpg" alt="pir" style="width:50px;height:50px;" />
                                break;
                            case "humidity":
                                <img src="~/Images/humid.jpg" alt="humidity" style="width:50px;height:50px;" />
                                break;
                            case "light":
                                <img src="~/Images/Lightbulb.jpg" alt="light" style="width:50px;height:50px;" />
                                break;
                            case "gas_ethanole":
                                <img src="~/Images/flame.gif" alt="gas leak" style="width:50px;height:50px;" />
                                break;
                            default:
                                <img src="~/Images/question.png" alt="unknown" style="width:50px;height:50px;" />
                                break;
                        }
                    }
                </td>
                <td>
                    <br />
                    @Html.DisplayFor(modelItem => item.IdDevice)
                </td>
                <td>
                    <br />
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    <br />
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
                <td>
                    <br />
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <br />
                    @Html.DisplayFor(modelItem => item.Counter)
                </td>
                <td>
                    @{switch (item.Flag)
                    {
                        case 1:
                            <img src="~/Images/warning.gif" alt="too high" style="width:50px;height:50px;" />
                            break;
                        case -1:
                        <img src="~/Images/warning.gif" alt="too low" style="width:50px;height:50px;" />
                            break;                        
                        default:
                        <img src="~/Images/ok.png" alt="ok" style="width:50px;height:50px;" />
                            break;
                            }
                            }
                </td>
            </tr>
                            }
                        }

</table>