@model IEnumerable<SmartSpaceWeb.Models.Sensor>

@{
    ViewBag.Title = "BathroomIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta http-equiv="refresh" content="5" />
<h2>BarhroomIndex</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AtLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Timestamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contatore)
        </th>
        <th></th>
    </tr>

    @{
        List<DateTime> time = new List<DateTime>();
        List<String> type = new List<string>();
    }
    @foreach (var item in Model)
    {
        if (type.Contains(item.Type))
        {
            if (time[type.IndexOf(item.Type)] < Convert.ToDateTime(item.Timestamp))
            { time[type.IndexOf(item.Type)] = Convert.ToDateTime(item.Timestamp); }
        }
        else
        {
            type.Add(item.Type);
            time.Add(Convert.ToDateTime(item.Timestamp));
        }
    }
    @foreach (var item in Model)
    {
        if (time[type.IndexOf(item.Type)] == Convert.ToDateTime(item.Timestamp))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AtLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contatore)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    }

</table>
