@model SmartSpaceWeb.Models.SensorSearch


<h2>Central Index</h2>

@using (Ajax.BeginForm("IndexPartial", "Sensor", new AjaxOptions { UpdateTargetId = "divPartial" }, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row">
        <div class="form-group col-md-5">
            @Html.LabelFor(model => model.AtLocation, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @*@Html.TextBoxFor(m => m.AtLocation, new { @class = "form-control" })*@
                @Html.DropDownListFor(model => model.AtLocation, Model.Locations, "-- No selection --", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group col-md-5">
            @Html.LabelFor(model => model.Type, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @*@Html.TextBoxFor(m => m.Type, new { @class = "form-control" })*@
                @Html.DropDownListFor(model => model.Type, Model.Types, "-- No selection --", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group col-md-2">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Search" />
            </div>
        </div>
    </div>
}

<script>
    function updatePartial(data) {
        alert(data.result);
    }
</script>



@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<div id="divPartial">
    @{
        Html.RenderAction("IndexPartial", "Sensor");
    }
</div>


@*<img src="~/Images/piantina_DomoCasa.png" alt="Domo Casa" style="width:946px;height:479px;" usemap="#domocasa">
<map name="domocasa">
    <area shape="rect" coords="240,0,615,200" href='@Url.Action("RoomView", new { room = "KITCHEN"})' alt="Kitchen">
    <area shape="rect" coords="0,0,170,290" href="/Sensor/BathroomIndex" alt="Bathroom">
    <area shape="rect" coords="0,290,240,470" href="/Sensor/KingBedroomIndex" alt="KingBedroom">
</map>*@
