@model SmartSpaceWeb.Models.Alarm

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Alarm</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
  
        <div class="form-group">
            @Html.LabelFor(model => model.AtLocation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.AtLocation, (SelectList)ViewBag.SensorDataLocation, "-- Select At Location --", new { @class = "form-control", @id = "SelectLocation", onchange = "CallFunctionEvent()" })
                <script>
                    function CallFunctionEvent() {
                        var answer = document.getElementById("SelectLocation");
                        if (answer[answer.selectedIndex].value == 'BATHROOM')
                            $('#Iddevice').val('0080E102001AB9CA');
                        if (answer[answer.selectedIndex].value == "")
                            $('#Iddevice').val('0080E102001AC125');
                        if (answer[answer.selectedIndex].value == 'DOUBLE_BEDROOM')
                            $('#Iddevice').val('0080E102001AC47C');
                    }

                </script>

                @Html.ValidationMessageFor(model => model.AtLocation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Place, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Place, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Place, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Type, (SelectList)ViewBag.SensorDataType, "-- Select Type --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Min, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Min, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Min, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Max, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Max, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Max, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdDevice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdDevice, new { htmlAttributes = new { @id = "Iddevice", @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.IdDevice, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "AlarmIndex")
</div>
